:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-black: #000000;
  --color-gray: #919191;
  --color-light-grey: #7c7979;
  --color-light-blue: #38b6ff;
  --color-dark-blue: #0086cb;
  --color-tq-blue: #5ce1e6;
  --color-light-tq-blue: #95ffff;
  --color-dark-tq-blue: #02afb4;
  --color-yellow: #fff7d1;
  --color-olive: #808000;
  --color-skyblue: #65cef8;
  --color-dark-skyblue: #4accf2;

  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-base: 0.5rem;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

button {
  font-family: "Open Sans", sans-serif;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 0 calc(var(--size-base) * 2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all calc(var(--animation-duration) * 0.5) ease-in-out;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  margin: var(--size-base) 0;
}

.navbar__menu__item {
  padding: var(--size-base) calc(var(--size-base) * 1.5);
  margin: 0 calc(var(--size-base) * 0.5);
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: calc(var(--size-base) * 1.5);
  font-size: var(--font-medium);
  color: var(--color-white);
}

#navbar.navbar--dark {
  background-color: var(--color-dark-skyblue);
  box-shadow: 0 2px 20px var(--color-light-grey);
}

/* Common Section */
.section {
  padding: calc(var(--size-base) * 6.25);
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Home */

#home {
  background: center/cover no-repeat url("./imgs/background.png");
  padding-top: calc(var(--size-base) * 9);
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 2px solid var(--color-light-white);
  border-radius: 50%;
}

.home__title,
.home__desc {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: calc(var(--size-base) * 3);
  padding: var(--size-base) calc(var(--size-base) * 1.5);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  transition: all var(--animation-duration) ease;
}

.home__contact:hover {
  transform: scale(1.1);
}

/* Profile */

.profile__career {
  background-color: var(--color-light-white);
  border-radius: calc(var(--size-base) * 2);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  padding: calc(var(--size-base) * 2);
}

.profile__career__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--size-base) * 4);
  width: 100%;
}

.profile__career__item:nth-child(2n-1) {
  align-items: start;
  text-align: start;
  padding-right: 40%;
  padding-left: calc(var(--size-base) * 2);
}
.profile__career__item:nth-child(2n) {
  align-items: end;
  text-align: end;
  padding-right: calc(var(--size-base) * 2);
  padding-left: 40%;
}

.profile__career__item:not(:first-of-type) {
  border-top: 2px solid;
  border-image: linear-gradient(
    to right,
    var(--color-light-white),
    var(--color-dark-blue),
    var(--color-light-white)
  );
  border-image-slice: 1;
}

/* Skills */

.skills__levels {
  border: 4px solid var(--color-light-white);
  border-radius: calc(var(--size-base) * 2);
  display: flex;
  justify-content: space-between;
  padding: calc(var(--size-base) * 4) calc(var(--size-base) * 6.25);
}

.levels__level {
  width: 25%;
  padding: 0 var(--size-base);
}

.levels__level img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.skills__stacks {
  border: 4px solid var(--color-light-white);
  border-radius: calc(var(--size-base) * 2);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--size-base) * 5) calc(var(--size-base) * 2);
}

.stacks__stack {
  display: flex;
  align-items: start;
  width: 50%;
  padding: var(--size-base) var(--size-base);
  max-height: 120px;
  overflow-y: hidden;
}

.stacks__stack .stack__desc {
  font-size: var(--font-micro);
  padding-left: var(--size-base);
  text-align: left;
}

.skills__stacks img {
  width: 30%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  margin-left: calc(var(--size-base) * 2);
}

/* Works */

.works__categories {
  margin: calc(var(--size-base) * 6);
}

.category__btn {
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  padding: var(--size-base) calc(var(--size-base) * 5);
  font-weight: var(--weight-semi-bold);
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-skyblue);
  color: var(--color-white);
}

.category__btn.active .category__cnt,
.category__btn:hover .category__cnt {
  opacity: 1;
  top: 0;
}

.category__cnt {
  display: inline-block;
  background-color: var(--color-tq-blue);
  border-radius: 50%;
  width: calc(var(--size-base) * 2.5);
  height: calc(var(--size-base) * 2.5);
  line-height: calc(var(--size-base) * 2.5);
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  opacity: 0;
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.project__desc:hover {
  opacity: 0.7;
  transform: translateY(0px);
}

.project__title {
  color: var(--color-white);
}

.project__title:after {
  content: "";
  display: block;
  position: relative;
  left: 28%;
  width: 44%;
  height: 1px;
  background-color: var(--color-light-grey);
  margin-top: var(--size-base);
}

/* Contact */

#contact {
  background-color: var(--color-dark-skyblue);
}

.contact__title {
  margin: calc(var(--size-base) * 3) 0;
}

.contact__title,
.contact__email,
.contact__copyright,
.contact__links a {
  color: var(--color-white);
}

.contact__links {
  font-size: var(--font-medium);
  margin: calc(var(--size-base) * 3) 0;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-white);
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__copyright {
  font-size: var(--font-small);
}

/* Media query */

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: start;
    padding-top: var(--size-base);
    padding-bottom: var(--size-base);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active {
    display: flex;
  }

  .profile__career__item:nth-child(n) {
    align-items: center;
    text-align: center;
    padding: calc(var(--size-base) * 4) calc(var(--size-base) * 2);
  }

  .skills__stack {
    display: none;
    height: 1300px;
  }

  .stack__desc {
    display: none;
  }

  .skills__levels {
    display: none;
  }

  .project {
    flex-grow: 1;
  }
}
